<h1>Rental Cars</h1>
<span>
    <%#= I18n.translate('welcome_message') %>
    <%#= I18n.t('welcome_message') %>
    <%= t('welcome_message') %>
</span><br><br>

<%# <a href='<%= manufacturers_path '></a> %>
<%= link_to 'Fabricantes', manufacturers_path%><br><br>
<%= link_to 'Filiais', subsidiaries_path %><br><br>
<%= link_to 'Categorias de veículos', car_categories_path %><br><br>
<%= link_to 'Clientes', clients_path %><br><br>
<%= link_to 'Modelos de carros', car_models_path %><br><br>
<%= link_to 'Carros', cars_path %><br><br>
<%= link_to 'Locações', rentals_path %><br><br>
