<h1>Editar categoria</h1>

<% if @car_category.errors.any? %>
  <p>Você deve corrigir os seguintes erros: </p>
  <ul>
  <% @car_category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>
  </ul><br><br>
<% end %>

<%= form_with model: @car_category, local: true do |form| %>
    <p>
        <%= form.label :name, 'Nome'%>
        <%= form.text_field :name %>
    </p>
    <p>
        <%= form.label :daily_rate, 'Diária'%>
        <%= form.text_field :daily_rate %>
    </p>
    <p>
        <%= form.label :car_insurance, 'Seguro'%>
        <%= form.text_field :car_insurance %>
    </p>
    <p>
        <%= form.label :third_party_insurance, 'Seguro contra terceiros'%>
        <%= form.text_field :third_party_insurance %>
    </p>

    <%= form.submit 'Enviar'%>
<% end %>