<h1>Nova locação</h1>

<%= form_with model: @rental, local: true do |form| %>
    <p>
        <%= form.label :start_date %>
        <%= form.date_field :start_date %>
    </p>
    <p>
        <%= form.label :end_date %>
        <%= form.date_field :end_date %>
    </p>
    <p>
        <%= form.label :client_id, 'Cliente' %>
        <%= form.collection_select(:client_id, @clients, :id, :description) %>
    </p>
    <p>
        <%= form.label :car_category_id, 'Categoria' %>
        <%= form.collection_select(:car_category_id, @car_categories, :id, :name) %>
    </p>
    <%= form.submit 'Enviar' %>
<% end %>